* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
.fill {
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    width: fit-content;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    position: relative;
}
.fill:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-fill-color: red;
    transition: 0.5s;
    width: 0;
    overflow: hidden;
}
.fill:hover:before {
    width: 100%;
}